body
{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;

  color: #323232;
  background-color: rgba(132, 157, 143, 1);
}

img
{
  max-width: 100%;
  height: auto;
}

.btn
{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;

  display: inline-block;

  padding: 11px 0;
  padding-bottom: 13px;

  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  color: #fff;
  border: none;
  border-radius: 50px;
  outline: none;
  background-color: #f00;
  background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
}

.btn:hover
{
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
}

.btn:active
{
  color: rgb(252, 238, 236);
  background-image: linear-gradient(to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, .64);
}

.banner-name
{
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;

  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 18px;

  color: #fff;
}

.container
{
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.clearfix:after
{
  display: table;
  clear: both;

  content: "";
}

.wrapper
{
  -ms-transition: background-image .5s ease, background-color .5s ease;
      transition: background-image .5s ease, background-color .5s ease;

  background: url(../img/slide1.png) no-repeat;
  background-position: top center;
}

.wrapper::before,
.wrapper::after
{
  visibility: hidden;

  content: "";
}

.wrapper::before
{
  background-image: url(../img/slide2.png);
}

.wrapper::after
{
  background-image: url(../img/slide3.png);
}

.slider
{
  position: relative;
  z-index: 9;

  padding-top: 270px;

  text-align: center;

  color: #fff;
}

.slider .btn
{
  font-size: 32px;

  display: inline-block;

  width: 280px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 43px;
  margin-left: auto;
  padding: 20px 0;

  vertical-align: top;

  text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.slider-name
{
  font-size: 60px;
  font-weight: bold;
  line-height: 60.35px;

  width: 700px;
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: 30px;

  color: #fff;
}

.slider-controls label
{
  display: inline-block;

  width: 17px;
  height: 17px;
  margin-right: 8px;

  cursor: pointer;
  vertical-align: top;

  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

.slider-controls label:hover
{
  background-color: rgba(255,255,255,.4);
}

.slider-controls
{
  font-size: 0;

  position: absolute;
  z-index: 20;
  bottom: 62px;
  left: 0;
}

body > input[type="radio"]
{
  display: none;
}

.slide
{
  display: none;
}

.btn_1:checked ~ .wrapper .slide1,
.btn_2:checked ~ .wrapper .slide2,
.btn_3:checked ~ .wrapper .slide3
{
  display: block;
}

.btn_1:checked ~ .wrapper label[for="btn-1"],
.btn_2:checked ~ .wrapper label[for="btn-2"],
.btn_3:checked ~ .wrapper label[for="btn-3"]
{
  background-color: #fff;
}

.btn_1:checked ~ .wrapper
{
  background-color: #849d8f;
  background-image: url(../img/slide1.png);
}

.btn_2:checked ~ .wrapper
{
  background-color: #8996a6;
  background-image: url(../img/slide2.png);
}

.btn_3:checked ~ .wrapper
{
  background-color: #9d8b84;
  background-image: url(../img/slide3.png);
}

.logo
{
  float: left;

  margin-top: 10px;
  margin-right: 12px;
}

.navigation-main a,
.footer-copyright .academy,
.breadcrumbs a
{
  text-decoration: none;

  color: #fff;
}

.navigation-main span,
.footer-copyright .academy,
.breadcrumbs a
{
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.navigation
{
  float: left;

  width: 600px;
}

.navigation-main
{
  font-size: 0;

  display: inline-block;

  width: 550px;
  margin: 0;
  margin-left: -2px;
  padding: 0;
  padding-top: 23px;

  list-style-type: none;

  vertical-align: top;
}

.navigation-main-item
{
  font-size: 0;

  position: relative;
  z-index: 22;

  display: inline-block;

  height: 32px;
  margin-right: 0;

  cursor: pointer;
  vertical-align: top;

  color: #fff;
  border-radius: 15px;
}

.navigation-main-item .navigation-main-link
{
  display: block;

  padding: 7px 14px;

  color: inherit;
  border: none;
}

.navigation-main-link span
{
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;

  display: block;

  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.navigation-sub-wrap
{
  position: absolute;
  top: 32px;
  right: -49px;

  display: none;

  width: 143px;
}

.navigation-sub
{
  font-size: 0;

  box-sizing: border-box;
  width: 143px;
  min-height: 165px;
  margin: 0;
  margin-top: 4px;
  padding: 0;

  list-style-type: none;

  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.navigation-main-item:hover
{
  color: #333;
  background-color: rgb(247, 246, 243);
}

.navigation-main-item:first-child:hover .navigation-sub-wrap
{
  display: block;
}

.navigation-main-item:active
{
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1);
}

.navigation-main-item .current
{
  color: #fff;
  border-radius: 15px;
  background-color: #d07058;
}

.current span
{
  border: none;
}

.navigation-sub-item.current-item,
.navigation-sub-item.current-item:hover
{
  cursor: default;

  color: #fff;
  background-color: #d07058;
}

.navigation-sub .current-item a,
.navigation-sub .current-item a:hover
{
  cursor: default;

  color: #fff;
}

.navigation-sub-item
{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  display: block;

  box-sizing: border-box;
  width: 143px;
  height: 33px;
  margin-top: 0;
  margin-bottom: 0;
}

.navigation-sub-item a
{
  display: block;

  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 20px;

  color: #323232;
}

.navigation-sub-item:last-child
{
  padding-bottom: 5px;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.navigation-sub-item:first-child
{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  position: relative;

  display: block;

  box-sizing: border-box;
  height: 38px;
  padding-top: 3px;

  text-decoration: none;

  color: #323232;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.navigation-sub-item:first-child:after
{
  position: absolute;
  top: 38px;
  left: 6px;

  width: 128px;
  height: 1px;

  content: "";

  background-color: rgba(53,53,53,.2);
}

.navigation-sub-item:hover,
.navigation-sub-item:active
{
  text-decoration: none;

  color: #323232;
  border: none;
}

.navigation-sub-item:hover
{
  background-color: #fbded7;
}
.navigation-sub-item:active
{
  background-color: #f6b5a5;
}

.bg-border
{
  top: 0;
  left: -8px;

  height: 38px;
  padding: 0;

  background: transparent;
}

.bg-border-right
{
  right: 0;
  left: auto;
}

.user-block
{
  float: right;

  max-width: 360px;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

.user-fields li
{
  position: relative;

  float: right;

  list-style-type: none;
}

.user-fields a
{
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;

  text-decoration: none;

  color: #fff;
}

.user-search
{
  display: inline-block;

  width: 17px;
  height: 15px;
  padding: 8px;

  cursor: pointer;
  vertical-align: middle;

  border-radius: 20px;
  background: rgba(255,255,255,.2) url(../img/spritesheet.png) no-repeat center;
  background-position: -703px 0;
}

.user-search:hover
{
  width: 17px;
  height: 17px;

  background: #fff url(../img/spritesheet.png) no-repeat;
  background-position: -730px 0;
}

.user-search-form
{
  position: absolute;
  z-index: 22;
  right: 0;
  bottom: -82px;

  display: none;

  width: 341px;
  height: 84px;
  padding: 0;

  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.bg-border-right:hover > .user-search-form
{
  display: block;
}

.user-search-form input
{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;

  box-sizing: border-box;
  width: 310px;
  height: 42px;
  margin: 20px 16px;
  padding-left: 14px;

  color: #999;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.user-search-form input:hover
{
  box-sizing: border-box;
  padding-left: 13px;

  border: 2px solid rgb(154, 154, 154);
}

.user-search-form label,
.user-entry-form label
{
  font-size: 11px;
  line-height: 13px;

  position: absolute;
  left: 0;

  display: none;

  margin-left: 32px;

  color: #5b9ddf;
}

.user-search-form label
{
  top: 5px;
}

.user-search-form input:focus
{
  font-weight: bold;

  padding-left: 13px;

  color: #000;
  border: 2px solid #2e88e4;
}

.user-search-form input:focus + label,
.user-entry-form input:focus + label
{
  display: block;
}

.user-search-form input:focus::-moz-placeholder,
.user-entry-form input:focus::-moz-placeholder
{
  color: transparent;
}

.user-search-form input:focus::-webkit-input-placeholder,
.user-entry-form input:focus::-webkit-input-placeholder
{
  color: transparent;
}

.user-entry
{
  font-size: 14px;
  font-weight: normal;

  position: relative;

  display: inline-block;

  width: 77px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 8px;
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 0;

  text-align: right;
  vertical-align: middle;

  border-radius: 20px;
  background-color: rgba(255,255,255,.2);
}

.user-entry::before
{
  position: absolute;
  top: 5px;
  left: 18px;

  width: 21px;
  height: 19px;

  content: "";

  background: url(../img/spritesheet.png) no-repeat center;
  background-position: -148px -5px;
}

.user-entry:hover
{
  cursor: pointer;

  color: #000;
  background-color: #fff;
}

.user-entry:hover::before
{
  width: 21px;
  height: 19px;

  content: "";

  background: url(../img/spritesheet.png) no-repeat;
  background-position: -179px -5px;
}

.user-entry-form
{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;

  position: absolute;
  z-index: 22;
  right: -1px;
  bottom: -212px;

  display: none;

  width: 277px;
  height: 214px;
  margin: 0;
  padding: 0;

  color: #999;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.bg-border-right:hover > .user-entry-form
{
  display: block;
}

.user-entry-form input
{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;

  box-sizing: border-box;
  width: 240px;
  height: 43px;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 15px;

  color: #999;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: #fff;
}

.user-entry-form input:hover
{
  box-sizing: border-box;
  padding-left: 14px;

  border: 2px solid rgb(154, 154, 154);
}

.user-entry-form label
{
  top: 5px;
}

.user-entry-form label:last-of-type
{
  top: 68px;
}

.user-entry-form input:focus
{
  font-weight: bold;

  box-sizing: border-box;
  padding-left: 14px;

  color: #000;
  border: 2px solid #2e88e4;
}

.user-entry-form button
{
  float: left;

  width: 102px;
  height: 44px;
  margin-top: 20px;
  margin-left: 18px;
}

.user-entry-form .user-help
{
  font-size: 13px;
  font-weight: normal;
  line-height: 13px;

  float: left;

  margin-top: 7px;
  margin-left: 20px;

  color: #323232;
  border-bottom: 1px solid rgba(0,0,0,.3);
}

.user-entry-form .user-help:hover
{
  color: rgba(236,89,60,1);
  border-bottom: 1px solid rgba(236,89,60,.3);
}

.user-entry-form a:first-of-type
{
  margin-top: 24px;
}

.user-cart
{
  position: relative;

  display: inline-block;

  width: 82px;
  margin-left: 10px;
  padding-top: 7px;
  padding-right: 35px;
  padding-bottom: 8px;
  padding-left: 0;

  text-align: right;
  vertical-align: middle;
  white-space: nowrap;

  border-radius: 20px;
  background-color: rgba(255,255,255,.2);
}

.user-cart::before
{
  position: absolute;
  top: 5px;
  left: 15px;

  width: 21px;
  height: 20px;

  content: "";

  background: url(../img/spritesheet.png) no-repeat center;
  background-position: -26px -5px;
}

.cart-full a
{
  margin-left: 10px;

  color: #000;
  border-radius: 20px;
  background-color: rgba(255,255,255,1);
}

.cart-full .user-cart
{
  display: inline-block;

  width: 90px;
  margin-left: 12px;
  padding-top: 7px;
  padding-right: 18px;
  padding-bottom: 8px;
  padding-left: 9px;

  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
}

.cart-full .user-cart::before
{
  position: absolute;
  left: 15px;

  width: 21px;
  height: 20px;

  content: "";

  background: url(../img/spritesheet.png) no-repeat;
  background-position: -57px -5px;
}

.cart-table
{
  position: absolute;
  z-index: 22;
  right: 0;
  bottom: -240px;

  display: none;

  width: 540px;
  min-height: 242px;
  margin: 0;
  padding: 0;

  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.bg-border-right:hover > .cart-table
{
  display: block;
}

.cart-table table
{
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;

  position: relative;

  min-width: 511px;
  margin: 11px;
  margin-bottom: 18px;

  border-collapse: collapse;

  text-align: left;

  color: #323232;
}

.cart-table table::after
{
  position: absolute;
  top: 118px;
  left: 3px;

  display: block;

  width: 511px;
  height: 1px;

  content: "";

  background-color: rgba(0,0,0,.4);
}

.cart-table td
{
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cart-table span
{
  color: #999;
}

.cart-table .cart-img
{
  padding-left: 9px;
}

.cart-table .nowrap
{
  padding-right: 20px;
  padding-left: 20px;

  white-space: nowrap;
}

.cart-img img
{
  border-radius: 50%;
}

.cart-table .cart-name
{
  padding-right: 0;
  padding-left: 9px;
}

.cart-table .cart-num
{
  padding-right: 0;
  padding-left: 8px;

  text-align: center;
}

.cart-table .cart-price
{
  padding-right: 0;

  text-align: left;
}

.cart-table .cart-item
{
  padding-top: 15px;
}

.cart-table p
{
  font-size: 15px;
  font-weight: bold;

  float: right;

  width: 460px;
  margin-top: 5px;
  margin-right: 13px;
  margin-bottom: 13px;

  text-align: right;
}

.cart-table .btn
{
  font-size: 18px;
  font-weight: bold;

  float: right;

  width: 170px;
  margin-right: 13px;
  padding-top: 13px;
  padding-bottom: 13px;

  color: #fefefe;
}

.user-info
{
  float: right;

  max-width: 350px;
  margin-top: 8px;
  margin-right: 0;
  margin-left: auto;

  text-align: right;
}

.user-time
{
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;

  color: #fff;
}

.user-phone
{
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;

  color: #fff;
}

.breadcrumbs
{
  font-size: 14px;
  font-weight: normal;

  display: block;

  width: 300px;
  margin: 0;
  margin-top: -22px;
  padding: 0;

  color: #fff;
}

.breadcrumbs a
{
  margin-right: 3px;
}

.breadcrumbs .breadcrumbs-current
{
  border-bottom: none;
}

.breadcrumbs span
{
  margin-right: 4px;
}

.banner
{
  margin: 0;
  margin-bottom: 11px;
  padding: 0;

  color: #fff;
}

.banner-left
{
  float: left;

  width: 560px;
  min-height: 230px;

  border-radius: 18px;
  background: url(../img/banner-left.jpg) no-repeat;
}

.banner-right
{
  float: right;

  width: 560px;
  min-height: 230px;

  border-radius: 18px;
  background: url(../img/banner-right.jpg) no-repeat;
}

.banner-text
{
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;

  margin-top: 15px;
  margin-right: 20px;
  margin-left: 19px;
}

.banner-left .btn
{
  display: block;

  width: 166px;
  margin-top: 44px;
  margin-left: 374px;
}

.banner-right .btn
{
  display: block;

  width: 190px;
  margin-top: 43px;
  margin-left: 350px;
}

.item
{
  margin: 0;
  padding: 0;
  padding-top: 4px;

  list-style-type: none;
}

.item li
{
  position: relative;

  float: left;

  width: 267px;
  margin-right: 25px;
}

.item li:nth-child(4n)
{
  margin-right: 0;
}

.item li::before
{
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -13px;

  display: none;

  width: 293px;
  min-height: 328px;
  padding-bottom: 77px;

  content: "";

  border-radius: 3px;
  background-color: rgba(255, 255, 255, .3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.item li:hover
{
  z-index: 1;
}

.item li:hover::before
{
  display: block;
}

.item-index
{
  width: 267px;
  margin-top: 23px;
  margin-bottom: 18px;

  text-align: center;
}

.item:not(.item-main) .item-index
{
  margin-bottom: 15px;
}

.item:not(.item-main) .item-index:nth-child(5),
.item:not(.item-main) .item-index:nth-child(6),
.item:not(.item-main) .item-index:nth-child(7),
.item:not(.item-main) .item-index:nth-child(8)
{
  margin-bottom: 19px;
}

.item-icecream img
{
  margin-bottom: 7px;

  border-radius: 50%;
}

.item-main .item-index:nth-child(3)
{
  left: 2px;
}

.item-main .item-index:nth-child(4)
{
  left: 3px;
}

.item-price
{
  font-size: 45px;
  font-weight: bold;

  position: absolute;
  top: 218px;
  left: 0;

  color: #fff;
  text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
}

.item:not(.item-main) li:nth-child(4n)
{
  margin-left: 2px;
}

.item:not(.item-main) li:nth-child(4) .item-price
{
  left: 6px;
}

.item:not(.item-main) li:nth-child(3) .item-price
{
  left: 5px;
}

.item:not(.item-main) li:nth-child(2) .item-price
{
  left: 2px;
}

.item:not(.item-main) li:nth-child(10) .item-price,
.item:not(.item-main) li:nth-child(11) .item-price,
.item:not(.item-main) li:nth-child(12) .item-price
{
  margin-top: -2px;
}

.item:not(.item-main) li:nth-child(9) .item-price
{
  margin-top: 0px;
}

.item:not(.item-main) li:nth-child(9) .item-name
{
  margin-top: 3px;
}

.item-index:nth-child(9),
.item-index:nth-child(10),
.item-index:nth-child(11),
.item-index:nth-child(12)
{
  margin-top: 20px;
}

.item-price img
{
  display: inline-block;

  margin-top: -3px;
  margin-left: 3px;

  vertical-align: middle;
}

.item-index:last-child .item-price img
{
  margin-left: 3px;
}

.item-index:nth-child(3) .item-price img
{
  margin-left: 3px;
}

.item-index:nth-child(5) .item-price img
{
  margin-top: -6px;
}

.item-index:nth-child(9) .item-price img
{
  margin-top: -6px;
  margin-left: 2px;
}

.item-price small
{
  font-size: 30px;
}

.item-name
{
  text-align: center;
  text-decoration: none;

  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.item-name:hover,
.breadcrumbs a:hover:not(.breadcrumbs-current),
.footer-links a:hover,
.footer-links span:hover,
.footer-copyright .academy:hover
{
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

.item .btn
{
  position: absolute;
  top: 339px;
  left: 30px;

  display: none;

  width: 200px;
}

.item li:hover .btn
{
  display: block;
}

.item-hit
{
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;

  width: 61px;
  height: 61px;

  vertical-align: middle;

  border-radius: 50%;
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -277px -5px;;
}

.info
{
  float: left;

  width: 1146px;
  margin-top: 21px;
  margin-bottom: 40px;

  border-radius: 15px;
  background-color: #eadec6;
  background-image: url(../img/pattern2.png);
}

.container h1
{
  font-size: 35px;

  margin-top: 10px;
  margin-bottom: 31px;

  color: #fff;
}

.info h2
{
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;

  margin-top: 25px;
  margin-right: 20px;
  margin-left: 20px;
}

.info-list
{
  padding-left: 20px;

  list-style-type: none;
}

.info-make
{
  position: relative;

  float: left;

  width: 480px;
  padding-left: 55px;
}

.info-make::before
{
  position: absolute;
  top: -12px;
  left: 0;

  width: 49px;
  height: 49px;

  content: "";

  background: url(../img/spritesheet.png) no-repeat;
  background-position: -434px -5px;
}

.info-vendors
{
  position: relative;

  float: left;

  width: 480px;
  margin-left: 33px;
  padding-left: 55px;
}

.info-vendors::before
{
  position: absolute;
  top: -12px;
  left: -2px;

  width: 49px;
  height: 49px;

  content: "";

  background: url(../img/spritesheet.png) no-repeat;
  background-position: -552px -5px;
}

.info-components
{
  position: relative;

  float: left;

  width: 480px;
  margin-top: 22px;
  padding-bottom: 10px;
  padding-left: 55px;
}

.info-components::before
{
  position: absolute;
  top: -12px;
  left: 0;

  width: 49px;
  height: 49px;

  content: "";

  background: url(../img/spritesheet.png) no-repeat;
  background-position: -493px -5px;
}

.info-delivery
{
  position: relative;

  float: left;

  width: 480px;
  margin-top: 22px;
  margin-left: 33px;
  padding-left: 55px;
}

.info-delivery::before
{
  position: absolute;
  top: -12px;
  left: -2px;

  width: 49px;
  height: 49px;

  content: "";

  background: url(../img/spritesheet.png) no-repeat;
  background-position: -610px -5px;
}

.banner2
{
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
}

.news
{
  float: left;

  width: 560px;
  min-height: 220px;
  margin: 0;
  padding: 0;

  color: #323232;
  border-radius: 15px;
  background: #fff url(../img/banner-icecream.jpg) no-repeat;
}

.subscribe
{
  float: right;

  width: 560px;
  min-height: 220px;
  margin: 0;
  padding: 0;

  color: #5a5a5a;
  border-radius: 15px;
  background-color: #92cdff;
  background-image: url(../img/pattern1.jpg);
}

.subscribe-form
{
  position: relative;

  display: inline-block;

  min-height: 208px;
  margin: 6px;

  vertical-align: middle;

  border-radius: 20px;
  background-color: #f8f7f4;
}

.news a
{
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;

  display: block;

  width: 310px;
  margin-top: -16px;
  margin-left: 20px;

  vertical-align: middle;

  color: #323232;
}

.news span
{
  display: block;

  margin-top: 21px;
  margin-bottom: 0;
  margin-left: 19px;
}

.subscribe-form p
{
  margin-top: 27px;
  margin-right: 20px;
  margin-left: 20px;
}

.subscribe-form input
{
  line-height: 24px;

  width: 344px;
  margin-top: 21px;
  margin-left: 20px;
  padding: 9px 9px;
  padding-left: 13px;

  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

.subscribe-form input:hover
{
  padding: 8px 8px;
  padding-left: 12px;

  border: 2px solid rgb(154, 154, 154);
}

.subscribe-form label
{
  font-size: 11px;
  line-height: 13px;

  position: absolute;
  left: 0;

  display: none;

  margin-left: 32px;

  color: #5b9ddf;
}

.subscribe-form label
{
  top: 115px;
}

.subscribe-form input:focus
{
  font-weight: bold;

  padding: 8px 8px;
  padding-left: 12px;

  border: 2px solid #2e88e4;
}

.subscribe-form input:focus + label
{
  display: block;
}

.subscribe-form input:focus::-moz-placeholder
{
  color: transparent;
}

.subscribe-form input:focus::-webkit-input-placeholder
{
  color: transparent;
}

.subscribe .btn
{
  float: right;

  width: 128px;
  margin-top: 20px;
  margin-right: 20px;
  padding-top: 9px;
  padding-bottom: 13px;

  border: none;
}

.feedback
{
  position: relative;

  display: block;

  width: 1200px;
  height: 430px;
  margin: 0 auto;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 0;

  vertical-align: middle;

  background: #e9e5dc url(../img/map.jpg) no-repeat;
}

.feedback p
{
  font-size: 14px;
  line-height: 20px;

  position: absolute;
  top: 50px;
  right: 27px;

  display: inline-block;

  width: 277px;
  min-height: 275px;
  padding-top: 27px;
  padding-left: 25px;

  vertical-align: middle;

  border-radius: 15px;
  background-color: #fff;
}

.feedback .large-text
{
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  display: block;

  margin-top: 1px;
  margin-right: 50px;
  margin-bottom: 18px;

  vertical-align: middle;
}

.feedback .large-phone
{
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;

  display: block;

  margin-top: 5px;
  margin-bottom: 3px;

  vertical-align: middle;
}

.feedback .btn
{
  display: block;

  width: 252px;
  margin-top: 25px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.pagination
{
  float: right;

  width: 187px;
  margin-top: 66px;
  margin-bottom: 31px;
}

.pagination a
{
  position: relative;

  display: inline-block;

  width: 25px;
  height: 25px;
  padding: 0;

  vertical-align: middle;
  text-decoration: none;

  color: #fff;
}

.pagination span
{
  font-size: 16px;
  line-height: 18px;

  position: absolute;
  top: 50%;
  left: 50%;

  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%,-50%);
}

.pagination a:hover:not(:first-of-type):not(:last-of-type):not(.pagination-current)
{
  border-radius: 50%;
  background-color: rgba(255,255,255,.2);
}

.pagination .pagination-current
{
  text-align: center;

  color: #000;
  border-radius: 50%;
  background-color: #fff;
}

.pagination .disabled
{
  opacity: .2;
}

.pagination .pagination-prev
{
  width: 7px;
  height: 7px;
  margin-right: 8px;

  -ms-transform: rotate(45deg);
      transform: rotate(45deg);

  border-bottom: 2px solid rgba(255,255,255,1);
  border-left: 2px solid rgba(255,255,255,1);
}

.pagination .pagination-next
{
  position: relative;

  width: 7px;
  height: 7px;
  margin-left: 10px;

  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);

  border-right: 2px solid rgba(255,255,255,1);
  border-bottom: 2px solid rgba(255,255,255,1);
}

.pagination .pagination-next::after
{
  position: absolute;
  top: -7px;
  left: -7px;

  display: none;

  width: 25px;
  height: 25px;

  content: "";
  vertical-align: middle;

  border-radius: 50%;
  background-color: rgba(255,255,255,.2);
}

.pagination .pagination-next:hover::after
{
  display: inline-block;

  vertical-align: middle;
}

.main-footer .container
{
  position: relative;
  min-height: 100px;
}

.main-footer .container::before
{
  position: absolute;
  top: -1px;
  left: 27px;

  display: block;

  width: 1146px;
  height: 1px;

  content: "";
  background-color: #a9bbb1;
}

.footer-social
{
  font-size: 0;

  float: left;

  margin-top: 35px;
  margin-right: 216px;
  margin-left: 2px;
}

.footer-links
{
  font-size: 13px;
  line-height: 18px;

  float: left;

  width: 400px;
  margin-top: 32px;
}

.footer-links a
{
  display: block;

  margin-bottom: 4px;

  text-decoration: none;

  color: #fff;
}

.footer-links span
{
  padding-bottom: 0;

  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.footer-info-left a
{
  padding-left: 25px;
}

.footer-info-left a:first-child
{
  font-weight: bold;

  position: relative;

  background: transparent url(../img/heart.png) no-repeat 3px center;
}

.footer-info-left
{
  display: inline-block;

  width: 145px;
  margin-left: -3px;

  vertical-align: middle;
}

.footer-info-right
{
  display: inline-block;

  width: 190px;
  margin-left: 19px;

  vertical-align: middle;
}

.footer-copyright
{
  float: right;

  width: 250px;
  margin: 0;
  margin-top: 18px;
  padding: 0;

  text-align: right;
}

.footer-copyright .logo-html
{
  display: block;

  margin-right: 80px;

  vertical-align: top;
}

.footer-copyright span
{
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;

  display: block;

  margin-top: -2px;

  color: #fff;
}

.sprite
{
  display: block;

  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
}

.social-tw
{
  display: inline-block;

  width: 32px;
  height: 32px;
  margin-right: 11px;

  vertical-align: middle;

  opacity: .8;
  border: 3px solid #fff;
  border-color: rgba(255,255,255,.5);
  border-radius: 50%;
  background-position: -764px -5px;
}

.social-tw:hover
{
  opacity: 1;
  border-color: rgba(255,255,255,.7);
}

.social-tw:active
{
  box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, .64);
}

.social-in
{
  display: inline-block;

  width: 32px;
  height: 32px;
  margin-right: 11px;

  vertical-align: middle;

  opacity: .8;
  border: 3px solid #fff;
  border-color: rgba(255,255,255,.5);
  border-radius: 50%;
  background-position: -668px -5px;
}

.social-in:hover
{
  opacity: 1;
  border-color: rgba(255,255,255,.7);
}

.social-in:active
{
  box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, .64);
}

.social-fb
{
  display: inline-block;

  width: 32px;
  height: 32px;
  margin-right: 11px;

  vertical-align: middle;

  opacity: .8;
  border: 3px solid #fff;
  border-color: rgba(255,255,255,.5);
  border-radius: 50%;
  background-position: -210px -5px;
}

.social-fb:hover
{
  opacity: 1;
  border-color: rgba(255,255,255,.7);
}

.social-fb:active
{
  box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, .64);
}

.social-vk
{
  display: inline-block;

  width: 32px;
  height: 32px;

  vertical-align: middle;

  opacity: .8;
  border: 3px solid #fff;
  border-color: rgba(255,255,255,.5);
  border-radius: 50%;
  background-position: -806px -5px;
}

.social-vk:hover
{
  opacity: 1;
  border-color: rgba(255,255,255,.7);
}

.social-vk:active
{
  box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, .64);
}

.feedback-modal
{
  position: fixed;
  z-index: 25;
  top: 50%;
  left: 50%;

  display: none;

  width: 430px;
  margin-top: -221px;
  margin-left: -235px;
  padding: 19px 23px;
  padding-bottom: 26px;

  color: #323232;
  border-radius: 10px;
  background: #f8f7f4;
}

.modal-content-close
{
  font-size: 0;

  position: absolute;
  top: 10px;
  right: 10px;

  width: 28px;
  height: 28px;

  cursor: pointer;

  border: 0;
  background-color: transparent;
}

.modal-content-close::before,
.modal-content-close::after
{
  position: absolute;
  top: 10px;
  left: 0;

  width: 25px;
  height: 2px;

  content: "";

  border-radius: 1px;
  background-color: #323232;
}

.modal-content-close::before
{
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.modal-content-close::after
{
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.feedback-modal h2
{
  font-size: 24px;
  line-height: 28p;

  margin: 0;
  margin-bottom: 22px;

  color: #323232;
}

.feedback-modal label
{
  font-size: 11px;
  line-height: 13px;

  position: absolute;
  left: 37px;

  display: none;

  color: #5b9ddf;
}

.feedback-modal label:first-of-type
{
  top: 49px;
}

.feedback-modal label:nth-of-type(2)
{
  top: 110px;
}

.feedback-modal label:last-of-type
{
  top: 175px;
}

.feedback-modal input[type="text"],
.feedback-modal input[type="email"]
{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;

  box-sizing: border-box;
  width: 240px;
  margin-bottom: 20px;
  padding: 10px 12px;
  padding-bottom: 8px;

  color: #323232;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  background-color: rgb(255, 255, 255,.52);
}

.feedback-modal textarea::-moz-placeholder,
.feedback-modal textarea::-webkit-input-placeholder
{
  font-weight: normal;

  color: #999;
}

.feedback-modal textarea
{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;

  box-sizing: border-box;
  width: 402px;
  margin-bottom: 20px;
  padding: 10px 12px;
  padding-bottom: 23px;

  color: #323232;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  background-color: rgb(255, 255, 255, .52);
}

.feedback-modal input:hover,
.feedback-modal textarea:hover
{
  box-sizing: border-box;
  padding: 8px 10px;
  padding-bottom: 7px;

  border: 2px solid rgb(154, 154, 154);
}

.feedback-modal textarea:hover
{
  padding-bottom: 22.5px;
}

.feedback-modal input:focus,
.feedback-modal textarea:focus
{
  font-weight: bold;

  box-sizing: border-box;
  padding: 8px 10px;
  padding-bottom: 7px;

  border: 2px solid #2e88e4;
}

.feedback-modal textarea:focus
{
  box-sizing: border-box;
  padding-bottom: 22px;
}

.feedback-modal input:focus::-moz-placeholder,
.feedback-modal textarea:focus::-moz-placeholder
{
  color: transparent;
}

.feedback-modal input:focus::-webkit-input-placeholder,
.feedback-modal textarea:focus::-webkit-input-placeholder
{
  color: transparent;
}

.feedback-modal input:focus + label,
.feedback-modal textarea:focus + label
{
  display: block;
}

.feedback-modal .btn
{
  float: right;

  width: 137px;
  margin-right: 3px;
}

.modal-overlay
{
  position: fixed;
  z-index: 24;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, .3);
}

.feedback-modal-show
{
  display: block;

  -webkit-animation: bounce .6s;
      -ms-animation: bounce .6s;
          animation: bounce .6s;
}

@-webkit-keyframes bounce
{
  0%
  {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%
  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%
  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100%
  {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce
{
  0%
  {
    -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
  }
  70%
  {
    -ms-transform: translateY(30px);
        transform: translateY(30px);
  }
  90%
  {
    -ms-transform: translateY(-10px);
        transform: translateY(-10px);
  }
  100%
  {
    -ms-transform: translateY(0);
        transform: translateY(0);
  }
}

.modal-overlay-show
{
  display: block;
}
.sorting
{
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  color: #fff;
}

.sorting input
{
  font: inherit;
}

.sorting-bk
{
  margin-top: 4px;
  padding: 7px 12px;

  color: #fff;
  border-radius: 20px;
  background-color: rgba(255,255,255,.2);
}

.popular
{
  float: left;

  width: 190px;
  margin-right: 18px;
  padding: 0;
}

.popular select
{
  font-size: 16px;

  width: 193px;
  padding-left: 14px;

  cursor: pointer;
  text-indent: .01px;
  text-overflow: "";

  border: none;
  background: rgba(255,255,255,.2) url(../img/arrow.png) no-repeat;
  background-position: 92% 16px;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.popular select::-ms-expand
{
  color: transparent;
  border: none;
  background-color: transparent;
}

.popular .sorting-bk:hover,
.button:hover
{
  color: #000;
  background-color: #fff;
}

.popular select:hover
{
  background: #000 url(../img/arrow-black.png) no-repeat;
  background-position: 92% 15px;
}

.popular label,
.range > span
{
  padding-left: 16px;
}

.sorting-fat legend
{
  padding-left: 15px;
}

.sorting-fill legend
{
  margin-bottom: 5px;
  padding-left: 13px;
}

.sorting-fat .sorting-bk,
.sorting-fill .sorting-bk
{
  margin: 0;
}

.sorting-fat .sorting-bk
{
  padding-right: 14px;
}

.sorting-fill .sorting-bk
{
  margin-top: -2px;
  padding-right: 18px;
  padding-left: 14px;
}

.sorting-fat,
.sorting-fill
{
  border: none;
}

.sorting legend,
.popular label,
.range span
{
  font-size: 14px;
}

.range
{
  float: left;

  margin-right: 5px;
}

.range-style
{
  position: relative;

  height: 14px;
  padding-top: 16px;
  padding-right: 15px;
  padding-left: 15px;
}

.range-style .scale
{
  width: 188px;
  height: 4px;
  margin: 0 auto;

  background: rgba(232,229,226,.5);
}

.range-style .bar
{
  width: 50%;
  height: 4px;
  margin-left: 15%;

  background: #e8e5e2;
}

.range-style .toggle
{
  position: absolute;
  top: 8px;
  left: 0;

  width: 20px;
  height: 20px;

  cursor: pointer;

  border-radius: 50%;
  background-color: rgb(248, 247, 244);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
}

.range-style .toggle-min
{
  left: 36px;
}

.range-style .toggle-max
{
  left: 133px;
}

.sorting-fat
{
  float: left;
}

.sorting-fill
{
  display: inline-block;

  margin-right: 10px;
  padding: 0;

  vertical-align: bottom;
}

.button
{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;

  display: inline-block;

  width: 144px;
  margin-top: 26px;
  margin-left: 0;

  cursor: pointer;
  vertical-align: bottom;

  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #aabab0;
}

.button:active
{
  padding: 3px 8px;

  border: none;
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1);
}

input[type="checkbox"],
input[type="radio"]
{
  display: none;
}

input[type="radio"] + label
{
  position: relative;

  margin-right: 11px;
  padding-left: 35px;

  cursor: pointer;
}

input[type="checkbox"] + label
{
  position: relative;

  margin-right: 17px;
  padding-left: 31px;

  cursor: pointer;
}

input[type="checkbox"] + label:nth-of-type(3)
{
  margin-left: 3px;
}

input[type="checkbox"] + label:nth-of-type(4)
{
  margin-left: 5px;
}

input[type="checkbox"] + label:nth-of-type(5)
{
  margin-left: 3px;
}

input[type="checkbox"] + label:last-of-type,
input[type="radio"] + label:last-of-type
{
  margin-right: 0;
}

input[type="radio"]:not(:checked) + label::before
{
  position: absolute;
  top: 0;
  left: 4px;

  width: 19px;
  height: 19px;

  content: "";

  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

input[type="radio"]:hover + label:hover::before
{
  width: 17px;
  height: 17px;

  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

input[type="radio"]:checked + label::after
{
  position: absolute;
  top: -1px;
  left: 3px;

  width: 21px;
  height: 22px;

  content: "";

  border: none;
  background: transparent url(../img/radio-normal.png) no-repeat;
}

input[type="radio"]:checked:hover + label:hover::after
{
  background: transparent url(../img/radio-hover.png);
}

input[type="checkbox"]:not(:checked) + label::before
{
  position: absolute;
  top: 0;
  left: 1px;

  width: 18px;
  height: 18px;

  content: "";

  border: 1px solid #fff;
  border-radius: 25%;
  background-color: transparent;
}

input[type="checkbox"]:nth-of-type(5):not(:checked) + label::before
{
  left: 0;
}

input[type="checkbox"]:nth-of-type(5):not(:checked) + label::before
{
  left: -2px;
}

input[type="checkbox"]:hover + label:hover::before
{
  width: 16px;
  height: 16px;

  border: 2px solid #fff;
}

input[type="checkbox"]:checked + label::after
{
  position: absolute;
  top: 0;
  left: 1px;

  width: 20px;
  height: 20px;

  content: "";

  border: none;
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -88px -5px;
}

input[type="checkbox"]:nth-of-type(5):checked + label::after
{
  left: -2px;
}

input[type="checkbox"]:checked:hover + label:hover::after
{
  background: url(../img/spritesheet.png);
  background-position: -118px -5px;
}

input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label
{
  opacity: .4;
}